*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00B8FD;
}

.form-login{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.form-login h4{
    font-size: 32px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-login .botons{
    width: 100%;
    background: #6c1fc5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-login .botons:hover {
    cursor: pointer;
    background-color: #7d2bcc;
}
